<!DOCTYPE HTML>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/forms.css">
  </head>
  <body>
    <main>
  <form method="GET" action="../../model/insert/Idomicilios.php">
    <label>IdDomicilio</label>
    <input type="number" name="IdDomicilio" id="IdDomicilio" required>
    <br>
    <label>NumInt</label>
    <input type="text" name="NumInt" id="NumInt">
    <br>
    <label>NumExt</label>
    <input type="text" name="NumExt" id="NumExt">
    <br>
    <label>CP</label>
    <input type="number" name="CP" id="CP" required>
    <br>
    <label>Estado</label>
    <input type="text" name="Estado" id="Estado" required>
    <br>
    <label>Ciudad</label>
    <input type="text" name="Ciudad" id="Ciudad" required>
    <br>
    <label>Colonia</label>
    <input type="text" name="Colonia" id="Colonia" required>
    <br>
    <label>Calle</label>
    <input type="text" name="Calle" id="Calle">
    <br>
    <label></label>
    <input type="submit">
  </form>
    </main>
    <footer>
    </footer>
  </body>
</html>
