<!DOCTYPE HTML>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/forms.css">
  </head>
  <body>
    <main>
  <label>CasoDomicilios</label>
  <form action="../../model/delete/DCaso_Domicilios.php">
    <label>compuesta</label>
    <input type="text" name="compuesta" id="compuesta" required>
    <label></label>
    <input type="submit">
  </form>
    </main>
    <footer>
    </footer>
  </body>
</html>
