<!DOCTYPE HTML>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <label>Domicilios</label>
  <form action="../../model/select/Sdomicilios.php">
    <label>Criterio</label>
    <input type="text" name="criterio" id="criterio" required>
    <br>
    <label>Atributo</label>
    <select name="atributo" id="atributo" required>
      <option value="IdDomicilio">ID Domicilio</option>
      <option value="NumInt">Número Interior</option>
      <option value="NumExt">Número Exterior</option>
      <option value="CP">Código Postal</option>
      <option value="Estado">Estado</option>
      <option value="Ciudad">Ciudad</option>
      <option value="Colonia">Colonia</option>
      <option value="Calle">Calle</option>
    </select>
    <br>
    <label>Submit</label>
    <input type="submit">
  </form>
</html>
