<!DOCTYPE HTML>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/forms.css">
  </head>
  <label>Multas</label>
  <form action="../../model/select/Smultas.php">
    <label>Criterio</label>
    <input type="text" name="criterio" id="criterio" required>
    <br>
    <label>Atributo</label>
    <select name="atributo" id="atributo" required>
      <option value="FolioMultas">Folio Multas</option>
      <option value="IdPago">ID Pago</option>
      <option value="FolioVerificacion">Folio Verificación</option>
      <option value="FolioCirculacion">Folio Circulación</option>
      <option value="IdSerie">ID Serie</option>
      <option value="IdOficial">ID Oficial</option>
      <option value="Causa">Causa</option>
      <option value="Observaciones">Observaciones</option>
      <option value="Region">Región</option>
      <option value="FechaExp">Fecha de Expedición</option>
      <option value="Estado">Estado</option>
      <option value="Descripcion">Descripción</option>
      <option value="Tipo">Tipo</option>
      <option value="FechaHora">Fecha y Hora</option>
    </select>
    <br>
    <label>Submit</label>
    <input type="submit">
  </form>
</html>
