<!DOCTYPE HTML>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/forms.css">
  </head>
  <body>
    <main>
  <label>Personas</label>
  <form action="../../model/select/SPersonas.php">
    <label>Criterio</label>
    <input type="text" name="criterio" id="criterio" required>
    <br>
    <label>Atributo</label>
    <select name="atributo" id="atributo" required>
      <option value="CURP">CURP</option>
      <option value="Nombre">Nombre</option>
      <option value="ApellidoP">Apellido Paterno</option>
      <option value="ApellidoM">Apellido Materno</option>
      <option value="FechaNac">Fecha de Nacimiento</option>
      <option value="Sexo">Sexo</option>
      <option value="Firma">Firma</option>
    </select>
    <br>
    <label>Submit</label>
    <input type="submit">
  </form>
    </main>
    <footer>
    </footer>
  </body>
</html>
