<!DOCTYPE HTML>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <label>Propietarios</label>
  <form action="../../model/select/Spropietarios.php">
    <label>Criterio</label>
    <input type="text" name="criterio" id="criterio" required>
    <br>
    <label>Atributo</label>
    <select name="atributo" id="atributo" required>
      <option value="IdPropietario">ID Propietario</option>
      <option value="CURP">CURP</option>
    </select>
    <br>
    <label>Submit</label>
    <input type="submit">
  </form>
</html>
