<!DOCTYPE HTML>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <label>Tarjetas_Verificacion</label>
  <form action="../../model/select/STarjetas_verificacion.php">
    <label>Criterio</label>
    <input type="text" name="criterio" id="criterio" required>
    <br>
    <label>Atributo</label>
    <select name="atributo" id="atributo" required>
      <option value="FolioVerificacion">Folio Verificación</option>
      <option value="HoraSalida">Hora de Salida</option>
      <option value="MotivoVerificacion">Motivo de Verificación</option>
      <option value="FolioCertificado">Folio Certificado</option>
      <option value="Semestre">Semestre</option>
      <option value="TipoServicio">Tipo de Servicio</option>
      <option value="FechaExp">Fecha de Expedición</option>
      <option value="HoraEntrada">Hora de Entrada</option>
      <option value="IdCentro">ID Centro</option>
      <option value="IdSerie">ID Serie</option>
      <option value="IdPago">ID Pago</option>
    </select>
    <br>
    <label>Submit</label>
    <input type="submit">
  </form>
</html>
