<!DOCTYPE HTML>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/forms.css">
  </head>
  <label>Tarjetas_Circulacion</label>
  <form action="../../model/select/STarjetasCirculacion.php">
    <label>Criterio</label>
    <input type="text" name="criterio" id="criterio" required>
    <br>
    <label>Atributo</label>
    <select name="atributo" id="atributo" required>
      <option value="FolioCirculacion">Folio Circulación</option>
      <option value="IdPago">ID Pago</option>
      <option value="NumConstancia">Número de Constancia</option>
      <option value="Origen">Origen</option>
      <option value="CveVehicular">Clave Vehicular</option>
      <option value="Tipo">Tipo</option>
      <option value="Uso">Uso</option>
      <option value="RPA">RPA</option>
      <option value="Operacion">Operación</option>
      <option value="PlacaAnt">Placa Anterior</option>
      <option value="OficinaExpendidora">Oficina Expendidora</option>
      <option value="Movimiento">Movimiento</option>
      <option value="Vigencia">Vigencia</option>
    </select>
    <br>
    <label>Submit</label>
    <input type="submit">
  </form>
</html>
