<!DOCTYPE HTML>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <label>Vehiculos</label>
  <form action="../../model/select/SVehiculos.php">
    <label>Criterio</label>
    <input type="text" name="criterio" id="criterio" required>
    <br>
    <label>Atributo</label>
    <select name="atributo" id="atributo" required>
      <option value="IdSerie">ID Serie</option>
      <option value="FolioCirculacion">Folio Circulación</option>
      <option value="IdPropietario">ID Propietario</option>
      <option value="Color">Color</option>
      <option value="Ano">Año</option>
      <option value="Clase">Clase</option>
      <option value="Combustible">Combustible</option>
      <option value="NIV">NIV</option>
      <option value="NumCilindros">Número de Cilindros</option>
      <option value="Modelo">Modelo</option>
      <option value="Marca">Marca</option>
    </select>
    <br>
    <label>Submit</label>
    <input type="submit">
  </form>
</html>
